<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Picture:</b>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
